<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "genres" %>
  </head>

  <body>

    <main>
      <div class="container">

        <button class="new-btn">
          <%= link_to 'Cadastrar gênero', new_genre_path %>
        </button>

        <div class="genre-container">
          <h1>Gêneros Cadastrados</h1>

          <ul class="genre-list">
            <% @genres.each do |genre| %>
              <li class="genre-item"><%= link_to genre.name, genre_path(genre[:id]) %></li>
            <% end %>
          </ul>
        </div>
      </main>

    </body>
  </html>
