<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

    <main>
      <div class="container">

        <button class="new-btn">
          <%= link_to 'Cadastrar gênero', new_genre_path %>
        </button>

        <div class="genre-list">
          <% @genres.each do | genre | %>
            <div class="genre">
              <p class="genre-title">
                <%= link_to genre.name, genre_path(genre.id) %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </main>

  </body>
</html>



