<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "directors" %>
  </head>

  <body>

    <main>
      <div class="container">

        <button class="new-btn">
          <%= link_to 'Cadastrar diretor', new_director_path %>
        </button>

        <div class="director-container">
          <h1>Diretores Cadastrados</h1>

          <ul class="director-list">
            <% @directors.each do |director| %>
              <li class="director-item"><%= link_to director.name, director_path(director[:id]) %></li>
            <% end %>
          </ul>
        </div>
      </main>

    </body>
  </html>
