.genre-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.genre {
  width: 100%;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.genre-title {
  font-weight: bold;
  font-size: 20px;
}
