.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
}

.movie {
  width: 100%;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
